@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

@layer base {
    body {
        @apply font-[Rubik];
    }
    
    li {
        @apply px-4;
        @apply cursor-pointer;
        @apply active:text-blue-500 hover:text-pink-200 hover:translate-x-2 ease-in-out duration-300;
    }
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 350px;
}

.content-div:hover{
    background-image: linear-gradient(
        to right,
        rgb(112, 157, 255, 0.8),
        hsla(242, 74%, 61%, 0.8)
    )!important;
}